@using TravelBuddy.WebApp.Models.TravelViewModels
@model IEnumerable<IndexTravelViewModel>

@{
    ViewData["Title"] = "Lista putovanja";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Dodaj putovanje</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (!item.IsArchived)
                {
                    @Html.ActionLink("Uredi", "Edit", new { id = item.Id }) @:|
                }
                @Html.ActionLink("Detalji", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Obriši", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
